{
    "plugins": [
        "@babel/plugin-transform-arrow-functions"
    ]
    // "plugins": [
    //     ["@babel/plugin-transform-arrow-functions", {"spec":"true"}]
    // ]
    // ,"presets": [
    //     [
    //         "@babel/preset-env",
    //         {
    //             "targets": {
    //                 "browsers": [
    //                     "last 2 versions",
    //                     "safari >= 7"
    //                 ]
    //             }
    //         }
    //     ]
    // ]
}